body {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0;
    font-family: 'Inter';
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border: 2px solid black;
}

.card h3, .card p, .card a {
    margin: 0;
}

.button {
    width: fit-content;
    padding: 0.5rem;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    align-self: center;
}
.button:hover {
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 825px) {
    body {
        margin: 2rem 1.5rem;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 575px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
