body {
    font-family: system-ui, sans-serif;
    margin: 1rem auto;
    max-width: 1500px;
}

button {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
}
button:hover {
    background: rgba(0, 0, 0, 0.2);
}
button.active {
    background: rgb(170, 170, 170);
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    gap: 1rem;
}

.product {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 1rem;
}
.product h3, .product p {
    margin: 0;
    padding: 0;
}
.product h3 {
    font-size: 1.75rem;
    font-weight: bold;
}
.product button {
    margin-top: 1rem;
    width: 150px;
}
.price {
    color: rgb(8, 141, 8);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem !important;
}
.stock {
    font-style: italic;
    color: rgb(90, 90, 90);
    margin-bottom: 1rem !important;
}
.brand {
    margin-bottom: 1rem !important;
}
.cartButton {
    width: 150px;
    float: right;
}

.total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1rem 10rem;
    margin: 1rem 0;
    font-size: 2rem;
}
.total-container button {
    width: 200px;
}
